
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

header nav ul {
    list-style: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.cabezera {
    background: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

.formatoTexto{
    white-space: pre-wrap;
}

article {
    flex: 1 1 calc(33% - 2rem);
    background: #fff;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
.contacto{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 1rem;
}

.contenedorCarrusel{
    display: flex;
    justify-content: center;
}

.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item img {
    width: 100%;
    display: block;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    border-radius: 50%;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.tituloFotos{
    padding-bottom: 2rem;
}

.fotos{
    display: grid;
    place-items: center;
    text-align: center;
}



@media (max-width: 768px) {
    header nav ul {
        text-align: left;
        padding: 0 20px;
    }
    
    header nav ul li {
        display: block;
        margin: 10px 0;
    }
    
    .content {
        flex-direction: column;
        align-items: center;
    }
    
    article {
        flex: 1 1 100%;
    }
    
    .formatoTexto{
       white-space: inherit;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 1rem;
    }
    
    .content {
        padding: 1rem;
    }
}
